nav {
    margin-top: 2%;
}

.carousel .item {
    height: 550px;
}

.item1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.75)), url("images/cover/cover-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 25%;
    color: white;
    text-align: center;
}

.item2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.75)), url("images/cover/cover-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 15%;
    color: white;
    text-align: center;
}

.item3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.75)), url("images/cover/cover-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 5%;
    color: white;
    text-align: center;
}